<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>  
    <httpProtocol>     
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'unsafe-inline' https://localhost:44384 https://www.googletagmanager.com https://www.google-analytics.com/ ; img-src https://localhost:44384 https://www.google-analytics.com/ data:" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />       
      </customHeaders>     
    </httpProtocol>
  </system.webServer>
</configuration>