<section class="container mb-3">
    <hr />
    @* Párty Stany - Lukáč *@
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-center text-light bg-dark p-1">Párty Stany - Lukáč</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://partystany-lukac.sk/" target="_blank">partystany-lukac.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a class="text-decoration-none" href="https://github.com/TadeasBurda/partystany-lukac.sk" target="_blank">TadeasBurda/partystany-lukac.sk</a></li>
            </ul>
            <article>
                <p>Propagačná stránka pre službu na zapožičiavanie párty stanov a techniky.</p>
                <p>Web som navrhoval a programoval iba ja. Beží na .NET Blazor Server a pre front-end som použil FE Bootstrap. Kód je dostupný zo zvolením na GitHube.</p>
                <p class="text-muted">Poznámka: Je to starší projekt a nie je aktualizovaný. Blazor som vtedy iba skúšal, kód preto berte z rezervou. </p>
            </article>
        </div>
        <div class="col-md-5">
            <picture src="/img/portfolio/screenshots/partystany-lukac-original" format=".webp;.jpeg" sizes="529w;519w;454w;379w;279w" media="xs-519px sm-519px md-279px lg-379px xl-454px xxl-529px">
                <img class="img-fluid" src="/img/portfolio/screenshots/partystany-lukac-original.jpeg" alt="screenshot" asp-append-version="true" />
            </picture>
        </div>
    </div>
    <hr />
    @* OZ Rodan *@
    <div class="row">
        <div class="col-md-7 order-md-2">
            <h2 class="text-center text-light bg-dark p-1">OZ Rodan</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap, MailKit, TinyMCE, ASP.NET Identity</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://oz-rodan.sk/" target="_blank">oz-rodan.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a class="text-decoration-none" href="https://github.com/TadeasBurda/oz-rodan.sk" target="_blank">TadeasBurda/oz-rodan.sk</a></li>
            </ul>
            <article>
                <p>Web občianskeho združenia RODAN v našej obci ktorého som členom. Stránka súži k prezentácii nášho združenia. Web som navrhol a programoval iba ja, ako jednu z mojich referencii na svoju prácu. </p>
                <p>Projekt je rozdelený na 3 časti(aplikačná, biznis a dátová vrstva). Takéto rozloženie projektu som skúšal po prví krát a môžem ho odporučiť. Web beží na Blazor Server technológii + FE Bootsrap. Na stránke som implementoval ASP.NET Identity pre správu účtov, MailKit pre automatizované zasielanie emailov, TinyMCE ako súčasť rozhrania pre písanie článkov a ďalšie veci. </p>
                <p class="text-muted">Poznámka: Kód som sprístupnil na GitHube, ale v súčasnosti mi čas nedovolí prepísať web do nových technológii, takže kód je starší. </p>
            </article>
        </div>
        <div class="col-md-5 order-md-1">
            <picture src="/img/portfolio/screenshots/oz-rodan-original" format=".webp;.jpeg" sizes="529w;519w;454w;379w;279w" media="xs-519px sm-519px md-279px lg-379px xl-454px xxl-529px">
                <img class="img-fluid" src="/img/portfolio/screenshots/oz-rodan-original.jpeg" alt="screenshot" asp-append-version="true" />
            </picture>
        </div>
    </div>
    <hr />
    @* ARTCORE *@
    <div class="row">
        <div class="col-md-7">
            <h2 class=" text-center text-light bg-dark p-1">ARTCORE</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020 [stále vo vývoji]</li>
                <li class="list-group-item">Tagy:&emsp;C#, ASP.NET Core MVC, Bootstrap, MailKit, TinyMCE, PayPal, ASP.NET Identity</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://artcore.space/" target="_blank">artcore.space</a></li>
                <li class="list-group-item">GitHub:&emsp;Privátny - odomknem na požiadanie </li>
            </ul>
            <article>
                <p>Web je koncipovaný ako eshop z oblečením a blog dokopy. Na webe sú všetky klasické funkcie ktoré sa od eshopu očakávajú(kategórie, detaily produktov, košík, platba, rozhranie účtu, atď.) taktiež ale špecifické funkcie, ktoré boli súčasťou zadania. Tento projekt bol môj prvý veľký projekt na zákazku a preto ho považujem za najväčšiu ukážku svojich schopností. </p>
                <p>Front-end: Grafický design stránky dodal sám zadávateľ, kde mojou úlohou bolo len previesť ho do kódu. K tomu som použil Bootstrap + veľkú časť som písal sám v CSS. </p>
                <p>Back-end: Ako základ kódu som použil zakúpený tutoriál pre tvorbu eshopu + veľkú väčšinu kódu som dopísal ja, pretože kód tutoriálu bol koncipovaný všeobecne a nezhodoval sa z požiadavkami zákazky. Tutoriálový kód bol písaný v .NET Core 2.1, musel som ho teda previesť do .NET Core 5x a značná časť kódu sa tím stala nepoužiteľná. Odhadujem že povodneho kódu ostalo max 30%. </p>
                <p>Web je plne dynamický a obsahuje adminské rozhranie, pre jeho správu a úpravu jeho obsahu. Na stránke je možné prihlásiť sa k automatizovanému newsletteru, platiť cez PayPal, generujú sa PDF faktúry, je možné objednať aj bez vytvorenia účtu a veľa ďalšieho. </p>
                <p class="text-muted">Poznámka: Kód k projektu je privátny, ale mám zvolenie ho použiť ako referenciu, takže ho môžem sprístupniť na vyžiadanie. </p>
            </article>
        </div>
        <div class="col-md-5">
            <picture src="/img/portfolio/screenshots/artcore-original" format=".webp;.jpeg" sizes="529w;519w;454w;379w;279w" media="xs-519px sm-519px md-279px lg-379px xl-454px xxl-529px">
                <img class="img-fluid" src="/img/portfolio/screenshots/artcore-original.jpeg" alt="screenshot" asp-append-version="true" />
            </picture>
        </div>
    </div>
</section>
