<section class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/partystany-lukac.ico" alt="favicon - www.partystany-lukac.sk" />
            <h2>Propagačná stránka služby</h2>
            <p>www.partystany-lukac.sk</p>
            <p><a class="btn btn-secondary" href="https://partystany-lukac.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/oz-rodan.ico" alt=" favicon -www.oz-rodan.sk" />
            <h2>Stránka občianskeho združenia</h2>
            <p>www.oz-rodan.sk</p>
            <p><a class="btn btn-secondary" href="https://oz-rodan.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/artcore.ico" alt="favicon - www.artcore.space" />
            <h2>Globálny eshop z oblečením</h2>
            <p>www.artcore.space</p>
            <p><a class="btn btn-secondary" href="https://artcore.space/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
    </div>
</section>
