<section class="mb-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <ext-source type="image/webp" source="/img/portfolio/carousel/partystany-lukac-original.webp" source-width="1100w;1000w;900w;800w;700w;600w;500w" />
                            <ext-img src="/img/portfolio/carousel/partystany-lukac-original.jpeg" source-width="1100w;1000w;900w;800w;700w;600w;500w" class="img-fluid" alt="website cover image - www.partystany-lukac.sk" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Párty Stany - Lukáč</h5>
                        <p>&bdquo;Prenájom párty stanov a techniky&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <ext-source type="image/webp" source="/img/portfolio/carousel/oz-rodan-original.webp" source-width="1100w;1000w;900w;800w;700w;600w;500w" />
                            <ext-img src="/img/portfolio/carousel/oz-rodan-original.jpeg" source-width="1100w;1000w;900w;800w;700w;600w;500w" class="img-fluid" alt="website cover image - www.oz-rodan.sk" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>OZ Rodan</h5>
                        <p>&bdquo;Občianske združenie mladých ľudí, ktorým nie je ľahostajný postoj k prírode 💚&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <ext-source type="image/webp" source="/img/portfolio/carousel/artcore-original.webp" source-width="1100w;1000w;900w;800w;700w;600w;500w" />
                            <ext-img src="/img/portfolio/carousel/artcore-original.jpeg" source-width="1100w;1000w;900w;800w;700w;600w;500w" class="img-fluid" alt="website cover image - www.artcore.space" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ARTCORE</h5>
                        <p>&bdquo; &ldquo;</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
