@{
    ViewData["title"] = "Vitajte na mojej webovej stránke";
    ViewData["description"] = "Toto je úvodná stránka môjho osobného webu.";
    ViewData["url"] = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    ViewData["og:type"] = "website";
    ViewData["og:image"] = $"{Context.Request.Scheme}://{Context.Request.Host}/img/facebook-share.jpg";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            @*profile photo*@
            <picture src="/img/profile-photos/profile-photo-original" format=".webp;.jpeg" sizes="639w;554w;549w;459w;339w;249w" media="xs-554px sm-249px md-339px lg-459px xl-549px xxl-639px">
                <img class="img-fluid rounded-1" src="/img/profile-photos/profile-photo-original.jpeg" alt="Tadeáš Burda" asp-append-version="true" />
            </picture>
        </div>
        <div class="col-sm">
            <partial name="Index/_FoldingMenuPartial.cshtml" />
        </div>
    </div>
</div>