@{
    ViewData["title"] = "Vitajte na mojej webovej stránke";
}
<div class="container">
    <div class="row">
        @* my profile-photo *@
        <div class="col-sm mb-2 mb-0">
            ​<picture>
                <source media="(max-width:575px)" srcset="~/img/profil-photo/profile-photo-551w.webp" type="image/webp" />
                <source media="(max-width:767px)" srcset="~/img/profil-photo/profile-photo-246w.webp" type="image/webp" />
                <source media="(max-width:991px)" srcset="~/img/profil-photo/profile-photo-336w.webp" type="image/webp" />
                <source media="(max-width:1199px)" srcset="~/img/profil-photo/profile-photo-456w.webp" type="image/webp" />
                <source media="(max-width:1399px)" srcset="~/img/profil-photo/profile-photo-546w.webp" type="image/webp" />
                <img src="~/img/profil-photo/profile-photo-original.webp" class="img-fluid" alt="Tadeáš Burda" asp-append-version="true" />
            </picture>
        </div>
        @* user nav *@
        <div class="col-sm">
            <div class="accordion accordion-flush" id="accordionFlushUserNav1">
                @* Som tu po prvý krát... *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                            Som tu po prvý krát...
                        </button>
                    </h2>
                    <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushUserNav1">
                        <div class="accordion-body">
                            Ahoj, volám sa Tadeáš Burda a toto je môj web. Pokiaľ nehľadáte programátora, alebo som vás sem nepozval, táto stránka pravdepodobne nie je pre Vás. Ak chcete, môžete sa pozrieť na moje portfólio, blog atď., ale táto stránka je niečo ako môj „virtuálny životopis“, takže nie je pre verejnosť veľmi zaujímavá. Ďakujem za váš čas ... Tadeáš
                        </div>
                    </div>
                </div>
                @* Hľadám programátora... *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                            Hľadám programátora...
                        </button>
                    </h2>
                    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushUserNav1">
                        <div class="accordion-body">
                            <div class="accordion accordion-flush" id="accordionFlushUserNav1-1">
                                @* IT nie je môj obor... *@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading2-1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2-1" aria-expanded="false" aria-controls="flush-collapse2-1">
                                            IT nie je môj obor...
                                        </button>
                                    </h2>
                                    <div id="flush-collapse2-1" class="accordion-collapse collapse" aria-labelledby="flush-heading2-1" data-bs-parent="#accordionFlushUserNav1-1">
                                        <div class="accordion-body">
                                            <p>Krátky súhrn toho čo dokážem(viac v mojom portfóliu) </p>
                                            <ul>
                                                <li>
                                                    <label>Programy pre Windows</label>
                                                    <ul>
                                                        <li><strong>Konzolové aplikácie</strong>(<i>scripty, automatizovanie, jednoduché programy, atď.</i>)</li>
                                                        <li><strong>Okenné aplikácie</strong>(<i>klasické aplikácie zo základným grafickým rozhraním</i>)</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <label>Všetky webstránky</label>
                                                    <ul>
                                                        <li><strong>Statické webstránky</strong>(<i>online vizitky, online životopisy, prezentačné webstránky, atď.</i>) - Webová stránka je jednoduchá, bez administratívnej časti, tjs. „napevno“, bez zásahu programátora nie je možné meniť jej obsah.</li>
                                                        <li><strong>Dynamické webstránky</strong>(<i>eshopy, webstránky organizácii, blogy, atď.</i>) - Webová stránka obsahuje administračné rozhranie, prostredníctvom ktorého môžete stránku spravovať, tjs. meniť jej obsah bez potreby programátora.</li>
                                                        <li><strong>SinglePage webstránky</strong>(<i>webstránky bez načítania - simulujú klasické aplikácie</i>) - Potrebný je ďalší programátor(programuje grafickú časť), ja programujem len logiku webstránky. Som otvorený spolupráci na takomto projekte.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <label>Mobilné aplikácie </label>
                                                    <ul>
                                                        <li>Momentálne sa nesústredím na programovanie pre mobilné platformy. Možno časom...</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                @* IT je môj obor...  *@
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading2-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2-2" aria-expanded="false" aria-controls="flush-collapse2-2">
                                            IT je môj obor...
                                        </button>
                                    </h2>
                                    <div id="flush-collapse2-2" class="accordion-collapse collapse" aria-labelledby="flush-heading2-2" data-bs-parent="#accordionFlushUserNav1-1">
                                        <div class="accordion-body">
                                            <p>Súhrn technológii, programov, frameworkov, atď. ktoré ovládam(aktuálne ku dňu 3.2.2021)</p>
                                            <ul>
                                                <li><strong>Primárne programujem v:</strong> <i>C#, ASP.NET Core, WPF</i></li>
                                                <li><strong>Dalšie:</strong> <i>HTML, CSS, Bootstrap</i></li>
                                                <li><strong>IDE a programi:</strong> <i>Visual Studio 2019, GitHub, Bootstrap Studio, Postman, FileZilla, GIMP, ClickUp</i></li>
                                                <li><strong>Dokážem integrovať:</strong> <i>Google Analytics, PayPal</i></li>
                                                <li><strong>DLL a API ktoré poznám:</strong> <i>MailKit, Serilog, Slick, iText7</i></li>
                                                <li class="text-muted"><strong>Poznámka:</strong> JS a jQuery ovládam v rámci možností - mám prečítaný tutoriál, ale aktívne neprogramujem v JS. Jednoduché úpravy a čítanie kódu mi ale nerobí problém.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Chcem ťa kontaktovať... *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                            Chcem ťa kontaktovať...
                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushUserNav1">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="https://www.facebook.com/tadeas.burda.1" target="_blank">Facebook: Tadeáš Burda</a></li>
                                <li><a href="https://www.instagram.com/tadeas_burda" target="_blank">Instagram: tadeas_burda</a></li>
                                <li><a href="https://www.linkedin.com/in/tade%C3%A1%C5%A1-burda-b592b61b7" target="_blank">LinkedIn: Tadeáš Burda</a></li>
                                <li><a href="https://www.itnetwork.cz/portfolio/21367" target="_blank">ITnetwork: Tadeáš Burda</a></li>
                                <li><a href="https://github.com/TadeasBurda" target="_blank">GitHub: TadeasBurda</a></li>
                                <li><a href="mailto:tadeas.burda@outlook.com" target="_blank">Email: tadeas.burda@outlook.com</a></li>
                                <li><a href="tel:+421944302048" target="_blank">Mobil: 0944 302 048</a></li>
                            </ul>
                            <p><small class="text-muted">Poznámka: Prvý kontakt preferujem písomný. </small></p>
                        </div>
                    </div>
                </div>
                @* Niečo o tebe?... *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            Niečo o tebe?...
                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushUserNav1">
                        <div class="accordion-body">
                            Ahoj, volám sa Tadeáš a tento web som naprogramoval sám pretože som programátor. Web je viac-menej moje portfólio, referencia na moju prácu a Petriho miska zároveň. Testujem tu svoje nápady, prezentujem sa tu a pridávam užitočné programy ktoré používam(kľudne ich použi ak sa ti páčia). Ak hľadáš programátora/ kolegu napíš mi. Venujem sa back-endu(programujem logiku aplikácií) a vyhýbam sa front-endu(grafické rozhranie appky), takže dobre zváž či mňa naozaj potrebuješ, ušetríš mi tím čas aj sebe. Môžeš sa omne dozvedieť viac z môjho portfólia a blogu(ak som ich už naprogramoval), to je asi tak všetko omne.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>