@{
    ViewData["title"] = "Moje webové portfólio";
    ViewData["description"] = "Toto je moje webové portfólio, kde nájdeš všetko potrebné o mojej práci.";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/HomeController/Portfolio/site.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/HomeController/Portfolio/site.min.css" asp-append-version="true" />
</environment>
@* website cover images *@
<section class="mb-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="text-center">
                        <img src="~/img/portfolio/carousel/partystany-lukac.webp" class="img-fluid" alt="website cover image - www.partystany-lukac.sk">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Párty Stany - Lukáč</h5>
                        <p>&bdquo;Prenájom párty stanov a techniky&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <img src="~/img/portfolio/carousel/oz-rodan.webp" class="img-fluid" alt="website cover image - www.oz-rodan.sk">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>OZ Rodan</h5>
                        <p>&bdquo;Občianske združenie mladých ľudí, ktorým nie je ľahostajný postoj k prírode 💚&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <img src="~/img/portfolio/carousel/artcore.webp" class="img-fluid" alt="website cover image - www.artcore.space">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ARTCORE</h5>
                        <p>&bdquo; &ldquo;</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
@* links to websites *@
<section class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/partystany-lukac.ico" alt="favicon - www.partystany-lukac.sk" />
            <h2>Propagačná stránka služby</h2>
            <p>www.partystany-lukac.sk</p>
            <p><a class="btn btn-secondary" href="https://partystany-lukac.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/oz-rodan.ico" alt=" favicon -www.oz-rodan.sk" />
            <h2>Stránka občianskeho združenia</h2>
            <p>www.oz-rodan.sk</p>
            <p><a class="btn btn-secondary" href="https://oz-rodan.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/artcore.ico" alt="favicon - www.artcore.space" />
            <h2>Globálny eshop z oblečením</h2>
            <p>www.artcore.space</p>
            <p><a class="btn btn-secondary" href="https://artcore.space/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
    </div>
</section>
@* short description of websites *@
<section class="container">
    <hr />
    @* Párty Stany - Lukáč *@
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-light bg-dark p-1">Párty Stany - Lukáč</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap</li>
                <li class="list-group-item">Url:&emsp;<a href="https://partystany-lukac.sk/" target="_blank">partystany-lukac.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a href="https://github.com/TadeasBurda/partystany-lukac.sk" target="_blank">TadeasBurda/partystany-lukac.sk</a></li>
            </ul>
            <article>
                <p>Propagačná stránka pre službu na zapožičiavanie párty stanov a techniky.</p>
                <p>Web som navrhoval a programoval iba ja. Beží na .NET Blazor Server a pre front-end som použil FE Bootstrap. Kód je dostupný zo zvolením na GitHube.</p>
                <p class="text-muted">Poznámka: Je to starší projekt a nie je aktualizovaný. Blazor som vtedy iba skúšal, kód preto berte z rezervou. </p>
            </article>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="~/img/portfolio/screenshots/partystany-lukac.jpeg" alt="screenshot - www.partystany-lukac.sk" />
        </div>
    </div>
    <hr />
    @* OZ Rodan *@
    <div class="row">
        <div class="col-md-7 order-md-2">
            <h2 class="text-light bg-dark p-1">OZ Rodan</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap</li>
                <li class="list-group-item">Url:&emsp;<a href="https://oz-rodan.sk/" target="_blank">oz-rodan.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a href="https://github.com/TadeasBurda/oz-rodan.sk" target="_blank">TadeasBurda/oz-rodan.sk</a></li>
            </ul>
            <article>
                <p>...</p>
                <p class="text-muted">Poznámka: ....</p>
            </article>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="~/img/portfolio/screenshots/oz-rodan.jpeg" alt="screenshot - www.oz-rodan.sk" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-light bg-dark p-1">ARTCORE</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020 <strong>[stále vo vývoji]</strong></li>
                <li class="list-group-item">Tagy:&emsp;C#, ASP.NET Core MVC, Bootstrap</li>
                <li class="list-group-item">Url:&emsp;<a href="https://artcore.space/" target="_blank">artcore.space</a></li>
                <li class="list-group-item">GitHub:&emsp;Privátny - odomknem na požiadanie </li>
            </ul>
            <article>
                <p>...</p>
                <p class="text-muted">Poznámka: ....</p>
            </article>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="~/img/portfolio/screenshots/artcore.jpeg" alt="screenshot - www.artcore.space" />
        </div>
    </div>
</section>
