@{
    ViewData["title"] = "Moje webové portfólio";
    ViewData["description"] = "Toto je moje webové portfólio, kde nájdeš všetko potrebné o mojej práci.";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/HomeController/Portfolio/site.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/HomeController/Portfolio/site.min.css" asp-append-version="true" />
</environment>
@* website cover images *@
<section class="mb-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <source media="(max-width:575px)" srcset="~/img/portfolio/carousel/partystany-lukac-554w.webp" type="image/webp" />
                            <source media="(max-width:767px)" srcset="~/img/portfolio/carousel/partystany-lukac-519w.webp" type="image/webp" />
                            <source media="(max-width:991px)" srcset="~/img/portfolio/carousel/partystany-lukac-699w.webp" type="image/webp" />
                            <source media="(max-width:1199px)" srcset="~/img/portfolio/carousel/partystany-lukac-939w.webp" type="image/webp" />
                            <source media="(max-width:1399px)" srcset="~/img/portfolio/carousel/partystany-lukac-1199w.webp" type="image/webp" />
                            <img src="~/img/portfolio/carousel/partystany-lukac.webp" class="img-fluid" alt="website cover image - www.partystany-lukac.sk" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Párty Stany - Lukáč</h5>
                        <p>&bdquo;Prenájom párty stanov a techniky&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <source media="(max-width:575px)" srcset="~/img/portfolio/carousel/oz-rodan-554w.webp" type="image/webp" />
                            <source media="(max-width:767px)" srcset="~/img/portfolio/carousel/oz-rodan-519w.webp" type="image/webp" />
                            <source media="(max-width:991px)" srcset="~/img/portfolio/carousel/oz-rodan-699w.webp" type="image/webp" />
                            <source media="(max-width:1199px)" srcset="~/img/portfolio/carousel/oz-rodan-939w.webp" type="image/webp" />
                            <source media="(max-width:1399px)" srcset="~/img/portfolio/carousel/oz-rodan-1199w.webp" type="image/webp" />
                            <img src="~/img/portfolio/carousel/oz-rodan.webp" class="img-fluid" alt="website cover image - www.oz-rodan.sk" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>OZ Rodan</h5>
                        <p>&bdquo;Občianske združenie mladých ľudí, ktorým nie je ľahostajný postoj k prírode 💚&ldquo;</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="text-center">
                        <picture>
                            <source media="(max-width:575px)" srcset="~/img/portfolio/carousel/artcore-554w.webp" type="image/webp" />
                            <source media="(max-width:767px)" srcset="~/img/portfolio/carousel/artcore-519w.webp" type="image/webp" />
                            <source media="(max-width:991px)" srcset="~/img/portfolio/carousel/artcore-699w.webp" type="image/webp" />
                            <source media="(max-width:1199px)" srcset="~/img/portfolio/carousel/artcore-939w.webp" type="image/webp" />
                            <source media="(max-width:1399px)" srcset="~/img/portfolio/carousel/artcore-1199w.webp" type="image/webp" />
                            <img src="~/img/portfolio/carousel/artcore.webp" class="img-fluid" alt="website cover image - www.artcore.space" asp-append-version="true" />
                        </picture>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ARTCORE</h5>
                        <p>&bdquo; &ldquo;</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
@* links to websites *@
<section class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/partystany-lukac.ico" alt="favicon - www.partystany-lukac.sk" />
            <h2>Propagačná stránka služby</h2>
            <p>www.partystany-lukac.sk</p>
            <p><a class="btn btn-secondary" href="https://partystany-lukac.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/oz-rodan.ico" alt=" favicon -www.oz-rodan.sk" />
            <h2>Stránka občianskeho združenia</h2>
            <p>www.oz-rodan.sk</p>
            <p><a class="btn btn-secondary" href="https://oz-rodan.sk/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" width="140" height="140" src="~/img/portfolio/favicons/artcore.ico" alt="favicon - www.artcore.space" />
            <h2>Globálny eshop z oblečením</h2>
            <p>www.artcore.space</p>
            <p><a class="btn btn-secondary" href="https://artcore.space/" target="_blank">Zobraziť stránku &raquo;</a></p>
        </div>
    </div>
</section>
@* short description of websites *@
<section class="container">
    <hr />
    @* Párty Stany - Lukáč *@
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-center text-light bg-dark p-1">Párty Stany - Lukáč</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://partystany-lukac.sk/" target="_blank">partystany-lukac.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a class="text-decoration-none" href="https://github.com/TadeasBurda/partystany-lukac.sk" target="_blank">TadeasBurda/partystany-lukac.sk</a></li>
            </ul>
            <article>
                <p>Propagačná stránka pre službu na zapožičiavanie párty stanov a techniky.</p>
                <p>Web som navrhoval a programoval iba ja. Beží na .NET Blazor Server a pre front-end som použil FE Bootstrap. Kód je dostupný zo zvolením na GitHube.</p>
                <p class="text-muted">Poznámka: Je to starší projekt a nie je aktualizovaný. Blazor som vtedy iba skúšal, kód preto berte z rezervou. </p>
            </article>
        </div>
        <div class="col-md-5">
            <picture>
                <source media="(max-width:575px)" srcset="~/img/portfolio/screenshots/partystany-lukac-554w.webp" type="image/webp" />
                <source media="(max-width:767px)" srcset="~/img/portfolio/screenshots/partystany-lukac-519w.webp" type="image/webp" />
                <source media="(max-width:991px)" srcset="~/img/portfolio/screenshots/partystany-lukac-279w.webp" type="image/webp" />
                <source media="(max-width:1199px)" srcset="~/img/portfolio/screenshots/partystany-lukac-379w.webp" type="image/webp" />
                <source media="(max-width:1399px)" srcset="~/img/portfolio/screenshots/partystany-lukac-454w.webp" type="image/webp" />
                <img src="~/img/portfolio/screenshots/partystany-lukac.webp" class="img-fluid" alt="screenshot - www.partystany-lukac.sk" asp-append-version="true" />
            </picture>
        </div>
    </div>
    <hr />
    @* OZ Rodan *@
    <div class="row">
        <div class="col-md-7 order-md-2">
            <h2 class="text-center text-light bg-dark p-1">OZ Rodan</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020</li>
                <li class="list-group-item">Tagy:&emsp;C#, Blazor Server, Bootstrap, MailKit, TinyMCE, ASP.NET Identity</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://oz-rodan.sk/" target="_blank">oz-rodan.sk</a></li>
                <li class="list-group-item">GitHub:&emsp;<a class="text-decoration-none" href="https://github.com/TadeasBurda/oz-rodan.sk" target="_blank">TadeasBurda/oz-rodan.sk</a></li>
            </ul>
            <article>
                <p>Web občianskeho združenia RODAN v našej obci ktorého som členom. Stránka súži k prezentácii nášho združenia. Web som navrhol a programoval iba ja, ako jednu z mojich referencii na svoju prácu. </p>
                <p>Projekt je rozdelený na 3 časti(aplikačná, biznis a dátová vrstva). Takéto rozloženie projektu som skúšal po prví krát a môžem ho odporučiť. Web beží na Blazor Server technológii + FE Bootsrap. Na stránke som implementoval ASP.NET Identity pre správu účtov, MailKit pre automatizované zasielanie emailov, TinyMCE ako súčasť rozhrania pre písanie článkov a ďalšie veci. </p>
                <p class="text-muted">Poznámka: Kód som sprístupnil na GitHube, ale v súčasnosti mi čas nedovolí prepísať web do nových technológii, takže kód je starší. </p>
            </article>
        </div>
        <div class="col-md-5 order-md-1">
            <picture>
                <source media="(max-width:575px)" srcset="~/img/portfolio/screenshots/oz-rodan-554w.webp" type="image/webp" />
                <source media="(max-width:767px)" srcset="~/img/portfolio/screenshots/oz-rodan-519w.webp" type="image/webp" />
                <source media="(max-width:991px)" srcset="~/img/portfolio/screenshots/oz-rodan-279w.webp" type="image/webp" />
                <source media="(max-width:1199px)" srcset="~/img/portfolio/screenshots/oz-rodan-379w.webp" type="image/webp" />
                <source media="(max-width:1399px)" srcset="~/img/portfolio/screenshots/oz-rodan-454w.webp" type="image/webp" />
                <img src="~/img/portfolio/screenshots/oz-rodan.webp" class="img-fluid" alt="screenshot - www.oz-rodan.sk" asp-append-version="true" />
            </picture>
        </div>
    </div>
    <hr />
    @* ARTCORE *@
    <div class="row">
        <div class="col-md-7">
            <h2 class=" text-center text-light bg-dark p-1">ARTCORE</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">Dátum:&emsp;2020 [stále vo vývoji]</li>
                <li class="list-group-item">Tagy:&emsp;C#, ASP.NET Core MVC, Bootstrap, MailKit, TinyMCE, PayPal, ASP.NET Identity</li>
                <li class="list-group-item">Url:&emsp;<a class="text-decoration-none" href="https://artcore.space/" target="_blank">artcore.space</a></li>
                <li class="list-group-item">GitHub:&emsp;Privátny - odomknem na požiadanie </li>
            </ul>
            <article>
                <p>Web je koncipovaný ako eshop z oblečením a blog dokopy. Na webe sú všetky klasické funkcie ktoré sa od eshopu očakávajú(kategórie, detaily produktov, košík, platba, rozhranie účtu, atď.) taktiež ale špecifické funkcie, ktoré boli súčasťou zadania. Tento projekt bol môj prvý veľký projekt na zákazku a preto ho považujem za najväčšiu ukážku svojich schopností. </p>
                <p>Front-end: Grafický design stránky dodal sám zadávateľ, kde mojou úlohou bolo len previesť ho do kódu. K tomu som použil Bootstrap + veľkú časť som písal sám v CSS. </p>
                <p>Back-end: Ako základ kódu som použil zakúpený tutoriál pre tvorbu eshopu + veľkú väčšinu kódu som dopísal ja, pretože kód tutoriálu bol koncipovaný všeobecne a nezhodoval sa z požiadavkami zákazky. Tutoriálový kód bol písaný v .NET Core 2.1, musel som ho teda previesť do .NET Core 5x a značná časť kódu sa tím stala nepoužiteľná. Odhadujem že povodneho kódu ostalo max 30%. </p>
                <p>Web je plne dynamický a obsahuje adminské rozhranie, pre jeho správu a úpravu jeho obsahu. Na stránke je možné prihlásiť sa k automatizovanému newsletteru, platiť cez PayPal, generujú sa PDF faktúry, je možné objednať aj bez vytvorenia účtu a veľa ďalšieho. </p>
                <p class="text-muted">Poznámka: Kód k projektu je privátny, ale mám zvolenie ho použiť ako referenciu, takže ho môžem sprístupniť na vyžiadanie. </p>
            </article>
        </div>
        <div class="col-md-5">
            <picture>
                <source media="(max-width:575px)" srcset="~/img/portfolio/screenshots/artcore-554w.webp" type="image/webp" />
                <source media="(max-width:767px)" srcset="~/img/portfolio/screenshots/artcore-519w.webp" type="image/webp" />
                <source media="(max-width:991px)" srcset="~/img/portfolio/screenshots/artcore-279w.webp" type="image/webp" />
                <source media="(max-width:1199px)" srcset="~/img/portfolio/screenshots/artcore-379w.webp" type="image/webp" />
                <source media="(max-width:1399px)" srcset="~/img/portfolio/screenshots/artcore-454w.webp" type="image/webp" />
                <img src="~/img/portfolio/screenshots/artcore.webp" class="img-fluid" alt="screenshot - www.artcore.space" asp-append-version="true" />
            </picture>
        </div>
    </div>
</section>
