<footer class="bg-dark border border-light rounded-1">
    <div class="container text-center">
        @* fb *@
        <a class="text-decoration-none text-light mx-1" href="https://www.facebook.com/tadeas.burda.1" target="_blank" aria-label="Môj profil na facebooku">
            <i class="bi bi-facebook"></i>
        </a>
        @* email *@
        <a class="text-decoration-none text-light mx-1" href="mailto:tadeas.burda@outlook.com" target="_blank" aria-label="Môj osobný email">
            <i class="bi bi-envelope-fill"></i>
        </a>
        @* linkedin *@
        <a class="text-decoration-none text-light mx-1" href="https://www.linkedin.com/in/tade%C3%A1%C5%A1-burda-b592b61b7" target="_blank" aria-label="Môj profil na LinkedIn">
            <i class="bi bi-linkedin"></i>
        </a>
        @* github*@
        <a class="text-decoration-none text-light mx-1" href="https://github.com/TadeasBurda" target="_blank" aria-label="Môj profil na GitHube">
            <i class="bi bi-github"></i>
        </a>
    </div>
</footer>
