<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border border-light rounded-1">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Tadeáš Burda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Domov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Portfolio">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nástroje
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarTools">
                        <li><a class="dropdown-item" asp-controller="Tools" asp-action="ImagesConvertor">Konvertor obrázkov</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Účet</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Hladať" aria-label="Hladať">
                <button class="btn btn-outline-light" type="submit">Hladať</button>
            </form>
        </div>
    </div>
</nav>
