@model ImagesConvertorViewModel

@{
    ViewData["title"] = "Online konvertor obrázkov";
    ViewData["description"] = "Stránka pre konvertovanie formátu obrázky a zmenu pomeru strán.";
    ViewData["url"] = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    ViewData["og:type"] = "website";
    ViewData["og:image"] = $"{Context.Request.Scheme}://{Context.Request.Host}/img/facebook-share.jpg";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-1">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">Domov</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nástroje</li>
        <li class="breadcrumb-item active" aria-current="page">Konvertor obrázkov</li>
    </ol>
</nav>

<div class="container">
    <partial name="ImagesConvertor/_DescriptionPartial" />

    <partial name="ImagesConvertor/_FormPartial" model="@Model" />
</div>

@section Scripts{
    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/ToolsController/ImagesConvertor/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/ToolsController/ImagesConvertor/site.min.js" asp-append-version="true"></script>
    </environment>
}
