@{
    ViewData["title"] = "Online konvertor obrázkov";
    ViewData["description"] = "Stránka pre konvertovanie formátu, zmenu pomeru strán a orezanie obrázku.";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-1">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Domov</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nástroje</li>
        <li class="breadcrumb-item active" aria-current="page">Konvertor obrázkov</li>
    </ol>
</nav>
<div class="container">
    <h1># Konvertor obrázkov</h1>
    <hr />
    @* tool *@
    <section class="bg-light p-2">
        <form enctype="multipart/form-data">
            @* section for upload file *@
            <section class="mb-5">
                <h3>1. Vyber obrázok</h3>
                <p>Nahraj obrázok ktorý chceš konvertovať do WebP. Obrázok by mal byť v čo najväčšej kvalite a <strong>podporované formáty</strong> zatiaľ sú <strong>PNG, JPG</strong>.</p>
                @* inout for upload file *@
                <input class="form-control" type="file" accept=".jpg,.jpge,.png" name="uploadFile" />
            </section>
            @* secion for width inputs *@
            <section class="table-responsive mb-5">
                <h3>2. Zadaj požadované rozmery</h3>
                <p>Do tabuľky <strong>zadaj rozmer</strong> pre šírku obrázku. Stiahnuť môžeš každý obrázok zvlášť alebo môžeš stiahnuť všetky hromadne. <strong>Nový riadok</strong> pridáš tlačítkom v rohu hlavičky tabuľky. </p>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Šírka</th>
                            <th scope="col"></th>
                            <th scope="col">
                                <button type="button" class="btn btn-outline-light btn-sm" onclick="newTableRow()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z" />
                                    </svg>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <input class="form-control" type="number" />
                            </td>
                            <td>
                                <button class="btn btn-success" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z" />
                                    </svg>
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            @* section for bulk download*@
            <section>
                <h3>3. Stiahnuť hromadne</h3>
                <div class="text-center">
                    <button class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z" />
                        </svg>
                    </button>
                </div>
            </section>
        </form>
    </section>
    <hr />
    @* description *@
    <section class="bg-light p-2">

    </section>
</div>
@section Scripts{
    <environment include="Development">
        <script src="~/js/ToolsController/ImagesConvertor/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/ToolsController/ImagesConvertor/site.min.js" asp-append-version="true"></script>
    </environment>
}
