@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
        <strong>Zatvorením</strong> tejto výstrahy <strong>potvrdzuješ svoj súhlas</strong> z našimi zásadami spracovania osobných údajov a súborov cookies. Viac sa dočítaš na stránke <a class="text-decoration-none" asp-controller="Home" asp-action="Privacy">spracovanie osobných údajnou a cookies</a>. Ak nepotvrdíš svoj súhlas, stránka nemusí pracovať na 100%
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="setCookiePolicy('@cookieString')"></button>
    </div>
}