@font-face {
    font-family: Poppins-Regular;
    src: url(../lib/Poppins/Poppins-Regular.ttf);
}

html, body {
    font-family: Poppins-Regular;
    font-size: 14px;
}

footer i {
    font-size: 2rem;
}